body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  background-color: #471D8E;
  color: #FFF;
  margin: 0;
  padding: 1%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

p {
  text-align: center;
}

.container {
  margin: auto;
}

input{
  border: 1px solid #cccccc;
  border-radius: 1px;
  margin-bottom: 2%;
  padding: 3% 0 3% 0;
  width: 100%;
}

button {
  border-bottom: 3px inset #229A29;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #2DCD37;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2%;
  padding: 3% 0 3% 0;
  width: 100%;
}

button:hover {
  background-color: #27B330;
  border-bottom: 3px inset #1C8022;
}

h3 {
  text-align: center;
}
