body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  background-color: #471D8E;
  color: #FFF;
  margin-top: 0;
  padding: 2%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;

}

p {
  margin: 0 0 2% 0;
  text-align: center;
}

input{
  margin-bottom: .5%;
  padding: .5%;
  width: 20%;
}

button {
  border-bottom: 3px inset #229A29;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #2DCD37;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  margin: .5% 0 1% 0;
  padding: .5%;
  width: 20%;
}

button:hover {
  background-color: #27B330;
  border-bottom: 3px inset #1C8022;
}

.greeting {
  margin: 0;
  text-align: center;
}
